---

---

<div
  class="bg-page text-default text-sm hidden md:flex justify-center items-center gap-2 px-3 py-1.5 text-center border-b border-gray-800"
>
  <span class="font-semibold text-primary">NEW BLOG:</span>
  <span>Pool Removal-Got an Old Pool You Need Gone?</span>
  <a href="#" class="text-primary hover:underline font-medium">Learn More →</a>
</div>