---
import Item from '~/components/blog/ListItem.astro';
import type { Post } from '~/types';

export interface Props {
  posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 gap-8 max-w-5xl mx-auto mb-4">
  {
    posts.map((post) => (
      <Item post={post} />
    ))
  }
</div>